            <div class="item">
                <h3><a href="http://onestopapp.nola.gov/Redirect.aspx?SearchString={{item.data.RefCode}}">{{item.data.Location}}{{' ('~item.data.Name~') ' if item.data.Name != item.data.Location else ''}}</a> <span class="small">(Ref. Code: {{item.data.RefCode}})<br />
                <strong>{{item.displayname}}</strong></span></h3>
                <div class="meta">
                    <p><strong>Docket Number:</strong> {{item.data.DocketNum}}<br />
                    <strong>Type:</strong> {{item.data.Type}}<br />
                    <strong>Status:</strong> {{item.data.Status}}<br />
					<strong>Supporting Documents Available:</strong> {% if item.data.DocsPublic == 0 %}No{% else %}Yes{% endif %}<br />
                    {% if item.data.Comment != ' ' %}<strong>Comment:</strong> {{item.data.Comment}}</p>{% else %}</p>{% endif %}
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>{{item.data.Descr}}</p>
                    <p><a href="http://noticeme.nola.gov/about#whatnext" target="_blank" >What Happens Now?</a></p>
                </div>
            </div>
