
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
		<meta name="mobile-web-app-capable" content="yes">
        <meta name="description" content="">
        <meta name="author" content="">
		<link rel="icon" type="image/png" href="../static/img/CNO_favicon.ico">
        <title>About NoticeMe</title>

        <!-- Load 'Open Sans' web font from Google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,800,700' rel='stylesheet' type='text/css'>
        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.modified.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/css/core.css" rel="stylesheet">
    </head>
    <body>
		<div id="content-wrapper">
			<!-- Start Navbar -->
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-logo">
					<a class="navbar-brand" href="/"><img src="../static/img/noticeme-logo.png" /></a>
					<p class="navbar-text hidden-xs">An early notification tool for land use changes in the City of New Orleans</p>
				</div>
				<ul class="navbar-help">
					<li class="hidden-xs"><a id="UVBtn" href="#" onClick="ga('send', 'event', 'UserVoice', 'Click', 'Leave UserVoice feedback');"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
				</ul>
			</div>
			<!-- End Navbar -->

			<div id="content">
				<div class="row">
					<div class="col-xs-12">
						<p><a href="/" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back</a></p>
						<h1>About NoticeMe</h1>
						<blockquote class="too-much"><h3>"There’s too much information to sort through!"</h3></blockquote>
						<h2>What is NoticeMe?</h2>
						<p><em>NoticeMe</em> is a <strong>personalized notification tool that emails citizens</strong> to inform them of opportunities for public input on proposed land-use changes.</p>
						<p>It is difficult for the average citizens to keep up on all the public meeting agendas for properties in their neighborhood. Along with the increased outreach required by the <strong><a href="http://www.nola.gov/city-planning/neighborhood-participation-program/">Neighborhood Participation Program</a></strong>, <em>NoticeMe</em> offers a way for all interested parties to stay informed of proposed land use changes in a selected area. <em>NoticeMe</em> is not a part of the City’s legal public notice requirements, but supplements those other forms of notice. Once you have registered, you will receive notices when a public hearing is scheduled and when a report is ready. You will also be notified of the action of the City Planning Commission or Board of Zoning Adjustments.</p>

						<div class="panel panel-default col-sm-5 pull-right" id="feedback">
							<h3 class="panel-heading">How to submit comments</h3>
							<div class="panel-body">
								<h4>Submitting CPC and BZA comments</h4>
								<ul>
								<li>You may submit written comments to the Executive Director in advance by:
									<ul>
										<li>Email at <a href="cpcinfo@nola.gov">cpcinfo@nola.gov</a></li>
										<li>Mail at c/o CPC Executive Director, 1300 Perdido street, 7th floor, New Orleans, LA 70112.  </li>
									</ul>
								</li>
								<li>All written comments for the CPC must be received by close of business on the Monday that is eight days prior to the hearing date. </li>
								</ul>
								<p><strong>When submitting written comments, please refer to the docket number in the email subject line and/or letter. Explain in detail your concerns and why you are for or against a proposal.</strong> Your comments will be considered by the City Planning Commission/Board of Zoning Adjustments. You can also refer to the <a href="http://www.nola.gov/cpc">CPC website</a> for more information.</p>

								<h4>Submitting a Safety and Permits decision appeal</h4>
								<p>The public has 45 days to file a <a href="http://nola.gov/onestop/building/planning-project/appeal-of-administrative-decision-of-the-division/">Decision Appeal of the Director of Safety and Permits for Zoning Verifications and Non-Conforming Use Determiniations</a>. Appeals will be noticed as Board of Zoning Adjustments cases.</p>
								
								<h4 id="whatnext">Submitting comments to the City Council</h4>
								<p>After the City Planning Commission has sent its official recommendation to the City Council, <strong>interested parties should follow up with <a href="http://www.nolacitycouncil.com/content/calendar/default.asp">City Council</a> offices</strong>. <em>NoticeMe</em> does not provide notice of Council agendas.
							</div>
						</div>
						
						<h2>How does it work?</h2>
						<p><em>NoticeMe</em> generates custom emails filtered by <strong>type</strong> and <strong>geography</strong> of issue.</p>
						
						<h3>Types of notifications</h3>
						<ul>
							<li><strong>City Planning Commission (CPC) notifications</strong> for Conditional Use requests, Zoning Changes, Text Amendments, and Major Subdivision
								<p>The <a href="http://www.nola.gov/city-planning/">City Planning Commission</a> is charged with reviewing requests for master plan amendments, zoning map changes, conditional uses, and text amendments to the Comprehensive Zoning Ordinance (CZO) and making recommendations to the City Council. The City Planning Commission is also responsible for acting on requests for the subdivision of land.</p>
								<p>The <em>Planning Commission meets the second and fourth Tuesday of each month</em> (unless otherwise indicated) at 1:30 p.m. in the City Council Chambers (City Hall, 1E07). At the public hearing, the City Planning Commission hears proponents and opponents to the proposed changes. All interested parties are encouraged to attend and all relevant comments concerning the proposed changes are encouraged.</p>
							</li>
							<li><strong>Board of Zoning Adjustments (BZA) notifications</strong> for Variance and Decision Appeals
								<p>The <a href="http://www.nola.gov/city-planning/">Board of Zoning Adjustments</a> hears and makes final decisions on requests for variances from the requirements of the Comprehensive Zoning Ordinance and considers appeals of Decisions by the Director of Safety and Permits.</p>
								<p>The <em>Board of Zoning Adjustments meets the second Monday of each month</em> (unless otherwise indicated) at 10:00 am in the City Council Chambers.</p>
							</li>
							<li><strong>Safety & Permits notifications</strong> for verifications and Non-Conforming Use Determinations</li>
						</ul>
						
						<h3>Geography of notifications</h3>
						<p>You can choose to receive notifications from one or more specific areas.	You can select from the following areas:</p>
						<ul>
							<li>Custom area defined by you</li>
							<li>Self-reported neighborhood association boundaries</li>
							<li>Council Districts</li>
						</ul>
						
						<h2>Glossary of commonly-used terms</h2>
						<dl>
						<dt>Text Amendment</dt>
						<dd>A Text Amendment is a change to zoning. You would ask for one when you wish to change a specific portion of the text of the Comprehensive Zoning Ordinance (CZO) by adding text, removing text or modifying text.</dd>

						<dt>Zoning Change</dt>
						<dd>Apply for a zoning change amendment when the use you are proposing for a property is neither listed as a permitted or conditional use within the existing zoning designation for that property, but is listed within another zoning district which you would like applied to the subject property.</dd>

						<dt>Conditional Use</dt>
						<dd>Apply for a conditional use request when you would like to use a property in a manner classified as a conditional use within the zoning district for which the property is designated on the city’s zoning maps.</dd>

						<dt>Design Review</dt>
						<dd>A design review or site plan review is required when the exterior building or site improvements are proposed for any property within a designated review area as outlined in the Comprehensive Zoning Ordinance.</dd>

						<dt>Variance</dt>
						<dd>The purpose of a variance is to afford an applicant relief from the requirements of the Comprehensive Zoning Ordinance (CZO), when hardship or practical difficulty exists. The Board of Zoning Adjustments (BZA) authorizes variances that are in harmony with the general purpose of the CZO and in accordance with procedures set forth therein.</dd>

						<dt>Appeal of Administrative Decision of the Division of the Department of Safety and Permits</dt>
						<dd>Appeals of administrative decisions of the Director of the Department of Safety and Permits may be taken by any party aggrieved, or by any officer, department, commission, board, bureau or any other agency of the City of New Orleans affected by any decision of the Director of the Department of Safety and Permits concerning application or interpretation of the provision of the Comprehensive Zoning Ordinance (CZO).</dd>

						<dt>Major Subdivision</dt>
						<dd>A Major Subdivision involves the division or merging of more than five (5) individual lots of record, the moving of lot lines, or the creation or revocation of a public right of way or private street. A re-subdivision may be required prior to development or redevelopment of a parcel.</dd>

						<dt>Change of Non-Conforming Use</dt>
						<dd>Apply for a Change of Non-Conforming Use when you would like to use land or a building that does not conform to the use regulations of the underlying zoning district. For example an industrial use in a commercial zoning district, or a commercial use in a residential district.</dd>

						<dt id="zoningmemo">Zoning Verifications and Zoning Interpretation Memorandum Issued</dt>
						<dd>Zoning Verifications and Zoning Interpretation Memoranda are issued by the Department of Safety and Permits pursuant to the authority of Section 4-702 of the City’s Home Rule Charter. Any party aggrieved by an administrative determination of the Director of Safety and Permits may appeal that determination to the Board of Zoning Adjustments within 45-days of the decision being appealed. For additional information on Decision Appeals, please see <a target="_blank" href="https://www.municode.com/library/la/new_orleans/codes/zoning?nodeId=ART14BOZOAD_S14.5APADDE">Section 14.5</a> of the Comprehensive Zoning Ordinance.</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<!-- Start Footer -->
		<div id="footer">
			  <div class="container">
				<a href="http://www.nola.gov" class="nola-link"><img src="../static/img/city-logo-small-gray.png" /></a>
			  </div>
		</div>
		<!-- End Footer -->

		<!-- start Google Analytics -->
		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', '<analytics id>', 'nola.gov');
			  ga('send', 'pageview');
		</script>
		<!-- end Google Analytics -->
		
		<script>
			// Include the UserVoice JavaScript SDK (only needed once on a page)
			UserVoice=window.UserVoice||<uservoice script>;

			//
			// UserVoice Javascript SDK developer documentation:
			// https://www.uservoice.com/o/javascript-sdk
			//

			// Set colors
			UserVoice.push(['set', {
			  accent_color: '#448dd6',
			  trigger_color: 'white',
			  trigger_background_color: '#e23a39'
			}]);
			UserVoice.push(['set', 'ticket_custom_fields', {'Web Application': 'NoticeMe'}])
			// Identify the user and pass traits
			// To enable, replace sample data with actual user traits and uncomment the line
			UserVoice.push(['identify', {
			  //email:      'john.doe@example.com', // User’s email address
			  //name:       'John Doe', // User’s real name
			  //created_at: 1364406966, // Unix timestamp for the date the user signed up
			  //id:         123, // Optional: Unique id of the user (if set, this should not change)
			  //type:       'Owner', // Optional: segment your users by type
			  //account: {
			  //  id:           123, // Optional: associate multiple users with a single account
			  //  name:         'Acme, Co.', // Account name
			  //  created_at:   1364406966, // Unix timestamp for the date the account was created
			  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
			  //  ltv:          1495.00, // Decimal; lifetime value of the account
			  //  plan:         'Enhanced' // Plan name for the account
			  //}
			}]);

			// Add default trigger to the bottom-right corner of the window:
			//UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'top-right' }]);

			// Or, use your own custom trigger:
			UserVoice.push(['addTrigger', '#UVBtn', { mode: 'contact' }]);

			// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
			UserVoice.push(['autoprompt', {}]);
		</script>


	</body>
</html>