
<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
		<meta name="mobile-web-app-capable" content="yes">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<link rel="icon" type="image/png" href="/static/img/CNO_favicon.ico">
	    <title>It's Dangerous to Go Alone</title>

	    <!-- Load 'Open Sans' web font from Google -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,800,700' rel='stylesheet' type='text/css'>
	    <!-- Bootstrap core CSS -->
	    <link href="../static/css/bootstrap.modified.css" rel="stylesheet">
		<!-- Custom styles for this template -->
	    <link href="../static/css/core.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../static/js/html5shiv.js"></script>
	      <script src="../static/js/respond.min.js"></script>
	    <![endif]-->
	    <style type="text/css">
	    	body
	    	{
	    		background: #f0f0f0 !important;
	    	}
	    	embed
	    	{
		    	height: 100%;
		    	width: 100%;
		    }
	    </style>
  	</head>
  	<body>
  		<div id="wrap">
			<!-- Start Navbar -->
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-logo">
					<a class="navbar-brand" href="/"><img src="../static/img/noticeme-logo.png" /></a>
					<p class="navbar-text hidden-xs">Users by Date</p>
				</div>
		    </div>
			<!-- End Navbar -->

			<!-- Start Main Content Row -->
			<div class="row" style="height: 90%;">
				<embed type="image/svg+xml" src="../static/img/chart.svg" />
			</div>
			<!-- End Main Content Row -->
		</div>
		<!-- End Wrap -->
	</body>
</html>
