<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>NoticeMe Digest for February 18, 2014</title>
        <style type="text/css">
            body { 
                font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
                color: #606060;
                margin: 8px 20px;
                }
            hr {
                display: block; height: 1px;
                border: 0; border-top: 1px solid #069;
                margin: 20px 0; padding: 0;}
            h1 { 
                font-size: 32px;
                font-weight: normal;
                color: #069;}
            h2 { 
                font-size: 28px;
                color: #404040;
                font-weight: normal;}
            h3 { 
                font-size: 24px;
                font-weight: normal;
                color: #900;
                margin-bottom: 0;}
            h4 {
                font-size: 16px;
                color: #606060;
                margin-bottom: 0;
                font-weight: bold;}
            h3 + p, h3 + ul, h4 + p, .meta p  {
                margin-top: 0;}
            strong {
                color: #505050;}    
            .small {
                font-size: 80%;
                color: #606060;}    

            .item, #digest{
                border-bottom: 1px solid #069;
                padding-bottom: 20px;}
            .footer {
                margin: 20px 0 40px 0;}
            a:hover {
                text-decoration: none;}
            .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            color: #ffffff;
            background-color: #428bca;
            border-color: #357ebd;
            text-decoration: none;}
            .btn:hover {
            color: #ffffff;
            background-color: #3276b1;
            border-color: #285e8e;}
        </style>
    </head>
    <body>
        <h1>NoticeMe Digest &nbsp;&middot;&nbsp; February 18, 2014</h1>
        <p>Hello! Here are this week's notices:</p>
        <hr>
        <h2>Summary of activity within your areas </h2>
        <div id="digest">
            
            <h3>Council District A:</h3>
                <ul>
                    
                    <li><b>123 30Th St</b> - BZA Hearing (Ref. Code: U6X0JD)</li>
                    
                    <li><b>2132-2134 St Ann St</b> - BZA Hearing (Ref. Code: BZ661S)</li>
                    
                    <li><b>225 40Th St</b> - BZA Hearing (Ref. Code: 0DV0JW)</li>
                    
                    <li><b>28 Newcomb Blvd</b> - BZA Hearing (Ref. Code: K4SFJH)</li>
                    
                    <li><b>439 40Th St</b> - BZA Hearing (Ref. Code: LDG1QP)</li>
                    
                    <li><b>6251 West End Blvd</b> - BZA Hearing (Ref. Code: 3UN8L6)</li>
                    
                    <li><b>6508-6510 Fleur De Lis Dr</b> - BZA Hearing (Ref. Code: A3JHSU)</li>
                    
                    <li><b>6508-6510 Fleur De Lis Dr</b> - BZA Hearing (Ref. Code: MLG82S)</li>
                    
                    <li><b>8519 Oak St</b> - BZA Hearing (Ref. Code: N0NH6V)</li>
                    
                    <li><b>6245 Memphis St</b> - BZA Hearing (Ref. Code: GPU6H1)</li>
                    
                    <li><b>1659 N Dupre St</b> - BZA Staff Report (Ref. Code: EZMA5A)</li>
                    
                    <li><b>3921-3923 Palmyra St</b> - BZA Staff Report (Ref. Code: 7FNLBQ)</li>
                    
                    <li><b>5401 S Miro St, 3400 Jefferson Ave</b> - BZA Staff Report (Ref. Code: C4YGXF)</li>
                    
                    <li><b>1921 Orleans Ave</b> - CPC Public Hearing (Ref. Code: HXMDWV)</li>
                    
                </ul>
            
            <h3>Council District B:</h3>
                <ul>
                    
                    <li><b>2426 Jackson Ave</b> - BZA Hearing (Ref. Code: THMRUY)</li>
                    
                    <li><b>3228 Chestnut St</b> - BZA Hearing (Ref. Code: S7PTGW)</li>
                    
                    <li><b>621 7Th St, 2926 Chippewa St</b> - BZA Hearing (Ref. Code: RRLC46)</li>
                    
                    <li><b>4401 Loyola Ave, 2200 Napoleon Ave</b> - BZA Staff Report (Ref. Code: SYE38H)</li>
                    
                    <li><b>1024 Magazine St</b> - CPC Hearing Results (Ref. Code: VE256P)</li>
                    
                    <li><b>3601 Camp St</b> - CPC Hearing Results (Ref. Code: 7K6Z40)</li>
                    
                    <li><b>3601 Camp St</b> - CPC Hearing Results (Ref. Code: 7K6Z40)</li>
                    
                    <li><b>129 University Pl</b> - CPC Hearing Results (Ref. Code: PEBTNF)</li>
                    
                    <li><b>129 University Pl</b> - CPC Hearing Results (Ref. Code: PEBTNF)</li>
                    
                </ul>
            
            <h3>Council District C:</h3>
                <ul>
                    
                    <li><b>2200 Royal St</b> - BZA Hearing (Ref. Code: 8F0R4A)</li>
                    
                    <li><b></b> - CPC Public Hearing (Ref. Code: W21Q3P)</li>
                    
                    <li><b>801 Canal St</b> - CPC Public Hearing (Ref. Code: BD7PTG)</li>
                    
                </ul>
            
            <h3>Council District D:</h3>
                <ul>
                    
                    <li><b>2131 Spain St</b> - BZA Hearing (Ref. Code: F0KDW8)</li>
                    
                    <li><b>5729 Cameron Blvd</b> - BZA Hearing (Ref. Code: 1154SQ)</li>
                    
                    <li><b></b> - BZA Hearing (Ref. Code: Y110QJ)</li>
                    
                </ul>
            
            <h3>Council District E:</h3>
                <ul>
                    
                    <li><b>1910-1912 Reynes St</b> - BZA Staff Report (Ref. Code: BCWVF5)</li>
                    
                </ul>
            
        </div>

        <div id="details">
            <h2>Details</h2>        
            
                        <div class="item">
                <h3>123 30Th St (123 30th St) <span class="small">(Ref. Code: U6X0JD)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA056-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 15, Section 15.5.8(4) of the Comprehensive Zoning Ordinance.        <br/><br/>Request:  This request is to permit the construction of a single family residence with stairs that extend more than six feet into the required front yard area (AFTER THE FACT).<br/><br/>Requested Waiver:  <br/>Section 15.5.8(4) – Front Yards (Stair Projection)  <br/>Required: 6’&emsp;Provided:  8.5’&emsp;Waiver:  2.5’<br/><br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8011" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=U6X0JD&Location=123 30Th St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>2132-2134 St Ann St <span class="small">(Ref. Code: BZ661S)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA058-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for variances from the provisions of Article 4, Section 4.6.7 (Table 4.F) and Article 15, Section 15.2.1 (Table 15A) of the Comprehensive Zoning Ordinance.    
   <br/><br/>Request:  To permit the relocation of an existing two-family residence on a lot with insufficient minimum lot area, minimum depth of rear yard, and insufficient off-street parking.<br/><br/>Requested Waiver:   <br/>Section 4.6.7 (Table 4.F)– Minimum Lot Area (Two-Family)<br/>Required:  3,600 sq. ft.&emsp;Provided:  2,510 sq. ft.&emsp;Waiver:  1,090 sq. ft.<br/>Section 4.6.7 (Table 4.F)– Minimum Depth of Rear Yard <br/>Required:  20&#39;     &emsp;                     Provided:  12.92&#39;                    Waiver:  7.08&#39;<br/>Section 15.2.1 (Table 15.A) - Off-Street Parking <br/>Required: 2 Space                          Provided: 0 Spaces                         Waiver: 2 Spaces 
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8019" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=BZ661S&Location=2132-2134 St Ann St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>225 40Th St <span class="small">(Ref. Code: 0DV0JW)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA060-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation: This request is for a variances from the provisions of Article 9A, Section 9A.1.8(4) of the Comprehensive Zoning Ordinance.<br/><br/>Request:  <br/>This request is to permit the construction of a single-family residence with excessive projection of the attached garage beyond the front façade of the residence.  <br/><br/>Requested Waiver:<br/>Section 9A.1.8(4) – Special Parking and Driveway Requirements<br/>Required:  5’&emsp;&emsp;&emsp;Provided: 0’&emsp;&emsp;&emsp;&emsp;Waiver: 5’<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8052" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=0DV0JW&Location=225 40Th St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>28 Newcomb Blvd <span class="small">(Ref. Code: K4SFJH)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA065-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 4, Section 4.1.7 (Table 4.A) of the Comprehensive Zoning Ordinance.     <br/>  <br/>Request:  To permit the construction of a carport in therequiredfront yard area on a through lot.  <br/> <br/>Requested Waiver:  <br/>Section 4.1.7 (Table 4.A) - Minimum Depth of Front Yard (Audubon Street Side)<br/>Required:  20’&emsp;Provided:  0&#39; 6&quot;&emsp;Waiver:  19&#39; 6&quot; <br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8055" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=K4SFJH&Location=28 Newcomb Blvd" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>439 40Th St <span class="small">(Ref. Code: LDG1QP)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA062-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 15, Section 15.7.1(b) of the Comprehensive Zoning Ordinance.    <br/>       
<br/>Request:  This request is to permit the placement of a mechanical platform in the side yard area with less than two feet (2&#39;) open to the sky between the farthest projection and the lot line.  <br/>
<br/>Requested Waiver:  <br/>Section 15.7.1(b) - Yards an Open Space (Open to the Sky)<br/>Required:  2’&emsp;Provided:  1’&emsp;Waiver:  1’<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8057" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=LDG1QP&Location=439 40Th St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>6251 West End Blvd <span class="small">(Ref. Code: 3UN8L6)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA055-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for variances from the provisions of Article 15, Section 15.2.1 (Table 15.A) and Section 15.3.1 (Table 15.G) of the Comprehensive Zoning Ordinance.   <br/> 
 <br/>Request:  This request is to permit the construction of a retail building with insufficient off-street parking and insufficient off-street loading. 
 <br/><br/>Requested Waiver:  <br/>Section 15.2.1 (Table 15.A) - Off-Street Parking<br/>Required: 18 Spaces&emsp;Provided:  15 Spaces&emsp;&emsp;Waiver:  3 Spaces<br/>Section 15.3.1 (Table 15.G) - Off-Street Loading<br/>Required: 1 Space     Provided: 0 Spaces     Waiver: 1 Space<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8006" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=3UN8L6&Location=6251 West End Blvd" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>6508-6510 Fleur De Lis Dr <span class="small">(Ref. Code: A3JHSU)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA071-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 9A, Section 9A.1.7 (Table 9A.A) of the Comprehensive Zoning Ordinance.      <br/>  
 <br/>Request:  This request is to in conjunction with Subdivision Docket 020/13 to permit the creation of a lot with insufficient minimum lot area.       
 <br/><br/>Requested Waiver:    <br/>Section 9A.1.7 (Table 9A.A) – Minimum Lot Area    <br/>Required: 5,000 sq. ft.&emsp; Provided:  4,350.8 sq. ft.&emsp;&emsp;&emsp;Waiver: 649.2 sq. ft.
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8073" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=A3JHSU&Location=6508-6510 Fleur De Lis Dr" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>6508-6510 Fleur De Lis Dr <span class="small">(Ref. Code: MLG82S)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA070-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 9A, Section 9A.1.7 (Table 9A.A) of the Comprehensive Zoning Ordinance.      <br/>  
 <br/>Request:  This request is to in conjunction with Subdivision Docket 026/13 to permit the creation of a lot with insufficient minimum lot area.       
 <br/><br/>Requested Waiver:    <br/>Section 9A.1.7 (Table 9A.A) – Minimum Lot Area    <br/>Required: 5,000 sq. ft.&emsp; Provided:  4,350.8 sq. ft.&emsp;&emsp;&emsp;Waiver: 649.2 sq. ft.
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8072" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=MLG82S&Location=6508-6510 Fleur De Lis Dr" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>8519 Oak St <span class="small">(Ref. Code: N0NH6V)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA061-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for variances from the provisions of Article 15, Section 15.5.12(2) and Article 15, Section 15.5.12(4) of the Comprehensive Zoning Ordinance.        <br/><br/>Request:  This request is to permit the construction of an accessory structure with excessive coverage of the required rear yard area and excessive height.<br/><br/>Requested Waivers:  <br/>Section 15.5.12(2) – Accessory Structures (Coverage)<br/>Permitted: 40%&emsp;Provided:  408 sq.ft.&emsp;Waiver:  168 sq. ft.<br/>Section 15.5.12(4) – Accessory Structures (Height)  <br/>Required: 14’&emsp;Provided:  20’ &emsp;Waiver:  6&#39;
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8059" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=N0NH6V&Location=8519 Oak St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>6245 Memphis St <span class="small">(Ref. Code: GPU6H1)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Apr 14 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA067-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation: This request is for a variance from the provisions of  Article 15, Section 15.2.1 (Table 15.A) of the Comprehensive Zoning Ordinance.<br/><br/>Request: To permit a renovation to an existing veterinary clinic with insufficient off-street parking. <br/> <br/>Requested Waiver:<br/>Section 15.2.1 (Table 15.A) – Off-Street Parking   <br/>Required: 5 Spaces &emsp;Providing: 0 Additional Spaces&emsp;Waiver: 5 Spaces<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8089" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=GPU6H1&Location=6245 Memphis St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>2426 Jackson Ave <span class="small">(Ref. Code: THMRUY)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA064-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 1, Section 1.4 of the Comprehensive Zoning Ordinance.     <br/>  <br/>Request:  To permit the reestablishment of two main uses on one lot of record. <br/> <br/>Requested Waiver:  <br/>Section 1.4 - Main Uses <br/>Permitted:  1 Main Use&emsp;Provided:  2 Main Uses &emsp;Waiver:  1 Main Use <br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7989" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=THMRUY&Location=2426 Jackson Ave" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>3228 Chestnut St <span class="small">(Ref. Code: S7PTGW)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA059-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 15, Section 15.5.12(4) of the Comprehensive Zoning Ordinance.        <br/><br/>Request:  This request is to permit the construction of an accessory structure with excessive coverage of the required rear yard area.<br/><br/>Requested Waivers:  <br/><br/>Section 15.5.12(4) – Accessory Structures (Coverage)<br/>Permitted: 40%&emsp;Provided: 57%&emsp;Waiver:  17% <br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8036" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=S7PTGW&Location=3228 Chestnut St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>621 7Th St, 2926 Chippewa St <span class="small">(Ref. Code: RRLC46)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA063-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 4, Section 4.6.7 (Table 4.F) of the Comprehensive Zoning Ordinance.    
   <br/><br/>Request:  To permit the construction of a single-family residence with insufficient minimum depth of rear yard. <br/><br/>Requested Waiver:   <br/>Section 4.6.7 (Table 4.F) – Minimum Depth of Rear Yard <br/>Required:  20’&emsp;Provided:  16&#39; 2&quot;&emsp;Waiver:  3&#39; 10&quot;
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8071" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=RRLC46&Location=621 7Th St, 2926 Chippewa St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>2200 Royal St <span class="small">(Ref. Code: 8F0R4A)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA069-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation: This request is for a variance from the provisions of  Article 15, Section 15.2.1 (Table 15.A) of the Comprehensive Zoning Ordinance.<br/><br/>Request: To permit a renovation to an existing veterinary clinic with insufficient off-street parking. <br/> <br/>Requested Waiver:<br/>Section 15.2.1 (Table 15.A) – Off-Street Parking   <br/>Required: 14 Spaces &emsp;Providing: 0 Spaces&emsp;Waiver: 14 Spaces
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8068" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=8F0R4A&Location=2200 Royal St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>2131 Spain St <span class="small">(Ref. Code: F0KDW8)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA054-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for variances from the provisions of ARticle 15, Section 15.2.3 and Article 15, Section 15.6.6 of the Comprehensive Zoning Ordinance.      
 <br/><br/>Request:  This request is to permit off-street parking in the required front yard area and excessive paving in the required front yard area. (AFTER THE FACT) 
<br/><br/>Requested Waiver:   <br/>Section 15.2.3 - Parking in Front Yards <br/>Permitted:  0 Spaces&emsp;Provided:  1 Space&emsp;Waiver:  1 Space<br/>Section 15.6.6 - Limitation on Pavement of Required Yard Areas <br/>Permitted: 40%&emsp;Provided: 100%&emsp;Waiver: 60% <br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8048" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=F0KDW8&Location=2131 Spain St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>5729 Cameron Blvd <span class="small">(Ref. Code: 1154SQ)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA057-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation: This request is for a variance from the provisions of Article 4, Section 4.5.7 (Table 4.E) of the Comprehensive Zoning Ordinance.<br/><br/>Request: To permit the construction of a two-family residence with insufficient minimum lot  width. <br/> <br/>Requested Waivers:<br/>Section 4.5.7 (Table 4.E) – Lot Width (Two-Family Residence)<br/>Required: 50&#39;&emsp;Provided: 46&#39;&emsp;Waiver: 4&#39;<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8021" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=1154SQ&Location=5729 Cameron Blvd" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3> (Lot 7-A Square 2144) <span class="small">(Ref. Code: Y110QJ)<br />
                <strong>BZA Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA068-14<br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation: This request is for a variance from the provisions of Article 4, Section 4.5.7 (Table 4.E) of the Comprehensive Zoning Ordinance.<br/><br/>Request: This request is to permit the construction of a two-family residence with insufficient minimum lot area per dwelling unit (two-family), minimum lot width (two-family), insufficient off-street parking and projection of stairs into front yard from above five feet. <br/> <br/>Requested Waivers:<br/>Section 4.5.7 (Table 4.E) – Minimum Lot Width (Two-Family Dwelling)<br/>Required: 50&#39;&emsp;Provided: 45&#39;&emsp;Waiver: 5&#39;<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8069" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=Y110QJ&Location=" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>1659 N Dupre St <span class="small">(Ref. Code: EZMA5A)<br />
                <strong>BZA Staff Report</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA036-14 <br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        REQUEST WILL NOT BE HEARD UNTIL THE APPLICANT COMPLETES THE NPP<br/><br/>Request Citation:  This request is for variances from the provisions of Article 15, Section 15.6.6 of the Comprehensive Zoning Ordinance.     <br/><br/>Request:  This request is to permit excessive paving of the required front yard area. (AFTER THE FACT)<br/><br/>Requested Waivers: <br/>Section 15.6.6 - Limitation on Pavement of Required Yard Areas<br/>Required: ≤ 40%&emsp;Provided: 100%&emsp;&emsp;&emsp;Waiver: 60%<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7977" target="_blank">View Documents at OneStop</a></p>
                    <a href="http://www.nola.gov/city-planning/calendar/" target="_blank" class="btn">View Meeting at NOLA.gov</a><br/><br/>
                </div>
            </div>
            
                        <div class="item">
                <h3>3921-3923 Palmyra St <span class="small">(Ref. Code: 7FNLBQ)<br />
                <strong>BZA Staff Report</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA033-14 <br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 15, Section 15.6.1 of the Comprehensive Zoning Ordinance.           
<br/>Request:  This request is to permit the construction of a fence with excessive height.   
<br/>Requested Waiver:  <br/>Section 15.6.1 - Fence Height Required:  7’&emsp;Provided:  8’&emsp;Waiver:  1’<br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7890" target="_blank">View Documents at OneStop</a></p>
                    <a href="http://www.nola.gov/city-planning/calendar/" target="_blank" class="btn">View Meeting at NOLA.gov</a><br/><br/>
                </div>
            </div>
            
                        <div class="item">
                <h3>5401 S Miro St, 3400 Jefferson Ave <span class="small">(Ref. Code: C4YGXF)<br />
                <strong>BZA Staff Report</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA040-14 <br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 4, Section 4.5.7 (Table 4.E) of the Comprehensive Zoning Ordinance.         <br/><br/>Request:  To permit the construction of a covered porch in the required corner lot side yard. (AFTER THE FACT)      <br/><br/>Requested Waiver:   <br/>Section 4.5.7 (Table 4.E) – Minimum Corner Lot Side Yard Width Required:  10’&emsp;Provided:  4’&emsp;Waiver:  6’ 
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7964" target="_blank">View Documents at OneStop</a></p>
                    <a href="http://www.nola.gov/city-planning/calendar/" target="_blank" class="btn">View Meeting at NOLA.gov</a><br/><br/>
                </div>
            </div>
            
                        <div class="item">
                <h3>4401 Loyola Ave, 2200 Napoleon Ave <span class="small">(Ref. Code: SYE38H)<br />
                <strong>BZA Staff Report</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA044-14 <br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for variances from the provisions of Article 15, Section 15.5.12(3) of the Comprehensive Zoning Ordinance. <br/><br/>Request:  To permit the construction of an accessory structure that projects beyond the prolongation of the front yard line of the lot in the rear.<br/><br/>Requested Waiver:    <br/>Section 15.5.12(3) - Accessory Buildings Corner Lots<br/>Required:  15’&emsp;Provided:  10’&emsp;Waiver:  5’ <br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7978" target="_blank">View Documents at OneStop</a></p>
                    <a href="http://www.nola.gov/city-planning/calendar/" target="_blank" class="btn">View Meeting at NOLA.gov</a><br/><br/>
                </div>
            </div>
            
                        <div class="item">
                <h3>1910-1912 Reynes St <span class="small">(Ref. Code: BCWVF5)<br />
                <strong>BZA Staff Report</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 10 2014  5:00PM<br />
                    <strong>Docket Number:</strong> BZA042-14 <br />
                    <strong>Type:</strong> Variance</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Request Citation:  This request is for a variance from the provisions of Article 4, Section 4.6.7 (Table 4.F) of the Comprehensive Zoning Ordinance.   <br/>  
          <br/>Request:  To permit the construction of a replacement deck area in the required rear yard. <br/><br/>Requested Waiver:  <br/>Section 4.6.7 - Rear Yard <br/>Required:  20&#39;&emsp;Provided:  12&#39; 8&quot;&emsp;Waiver:  7&#39; 4&quot;  <br/>
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7974" target="_blank">View Documents at OneStop</a></p>
                    <a href="http://www.nola.gov/city-planning/calendar/" target="_blank" class="btn">View Meeting at NOLA.gov</a><br/><br/>
                </div>
            </div>
            
                        <div class="item">
                <h3>1921 Orleans Ave (Community 6 Grocery) <span class="small">(Ref. Code: HXMDWV)<br />
                <strong>CPC Public Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 25 2014  1:30PM<br />
                    <strong>Docket Number:</strong> ZD025-14<br />
                    <strong>Type:</strong> Conditional Use</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Conditional Use to permit the sale of alcoholic beverages for consumption off-premises at a retail grocery store in a B-1 Neighborhood Business District, on Square 238, Lot 14, in the First Municipal District, bounded by North Prieur, St. Ann, North Roman Streets and Orleans Avenue. The municipal address is 1921 ORLEANS AVENUE. (PD 4) 
                    </p>                
                    <p><strong>Documents Available:</strong> No</p>
                    <a href="/submit.html?RefCode=HXMDWV&Location=1921 Orleans Ave" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3> (1601 L.B. Landry Ave) <span class="small">(Ref. Code: W21Q3P)<br />
                <strong>CPC Public Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 11 2014  1:30PM<br />
                    <strong>Docket Number:</strong> ZD024-14<br />
                    <strong>Type:</strong> Conditional Use</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        ZONING DOCKET 024/14 – Request by GAMMA RHO FOUNDATION, INC for a Conditional Use to permit a private club in an RD-2 Two-Family Residential District on Square 234/Pt. Square 259, Lot T-2, in the Fifth Municipal District, bounded by L.B. Landry Avenue, Lawrence Street, Leboeuf Street, and the Crescent City Connection/Westbank Expressway. The municipal address is 1601 L.B. LANDRY AVENUE. (PD 12)
                    </p>                
                    <p><strong>Documents Available:</strong> No</p>
                    <a href="/submit.html?RefCode=W21Q3P&Location=" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>801 Canal St (Footlocker #7379 Attn: Tax Dept) <span class="small">(Ref. Code: BD7PTG)<br />
                <strong>CPC Public Hearing</strong></span></h3>
                <div class="meta">
                    <p><strong>Meeting Date:</strong> Mar 11 2014  1:30PM<br />
                    <strong>Docket Number:</strong> ZD023-14<br />
                    <strong>Type:</strong> Conditional Use</p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Conditional Use to permit the sale of alcoholic beverages for off-premises consumption in a retail establishment with a floor area of less than 25,000 square feet in a CBD-3 Central Business District on Square 67, Lots A or A 1, 2, and E in the Second Municipal District, bounded by Canal, Bourbon, Dauphine and Iberville Streets. The municipal address is 801-807 CANAL STREET. (PD 1A)  
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=8010" target="_blank">View Documents at OneStop</a></p>
                    <a href="/submit.html?RefCode=BD7PTG&Location=801 Canal St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp;
                </div>
            </div>
            
                        <div class="item">
                <h3>1024 Magazine St <span class="small">(Ref. Code: VE256P)<br />
                <strong>CPC Hearing Results</strong></span></h3>
                <div class="meta">
                    <p><strong>Docket Number:</strong> <br />
                    <strong>Type:</strong> Conditional Use<br />
                    <strong>Status:</strong> Approved - Conditions<br />
                    <strong>Comment:</strong> </p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Rescission of  Ordinance No. 24,641 MCS (Zoning Docket 068/11, which granted a Conditional Use to permit a surface parking lot in a CBD-8 Central Business District on Square 136, Lots 10, 4 or 1, 2, 3, 1 thru 7, 11 thru 21, and a common alley in the First Municipal District, bounded by Magazine, Constance and Poeyfarre Streets and Andrew Higgins Boulevard and an  Amendment to Ordinance No. 24,480 MCS (Zoning Docket 035/11, which established a CBPCD Central Business Planned Community District in a CBD-8 Central Business District on Square 159-A, Lot W-1, in the First Municipal District, bounded by Magazine Street, Calliope Street, Camp Street and Andrew Higgins Drive to permit the establishment of a new parking garage with retail space and a surface parking lot
                    </p>                
                    <p><strong>Documents Available:</strong> No</p>
                    <!-- <a href="/submit.html?RefCode=VE256P&Location=1024 Magazine St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp; -->
                    <!-- <a href="http://www.nola.gov/city-planning/calendar/" target="_blank" class="btn">View Meeting at NOLA.gov</a><br/><br/> -->
                </div>
            </div>
            
                        <div class="item">
                <h3>3601 Camp St <span class="small">(Ref. Code: 7K6Z40)<br />
                <strong>CPC Hearing Results</strong></span></h3>
                <div class="meta">
                    <p><strong>Docket Number:</strong> <br />
                    <strong>Type:</strong> Conditional Use<br />
                    <strong>Status:</strong> Approved - Conditions<br />
                    <strong>Comment:</strong> </p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Conditional Use to permit a parking lot providing off-street parking for a main use(s) located within 300 feet of said lot in an RD-2 Two-Family Residential District 
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7939" target="_blank">View Documents at OneStop</a></p>
                    <!-- <a href="/submit.html?RefCode=7K6Z40&Location=3601 Camp St" target="_blank" class="btn">Submit Written Feedback</a>&nbsp; -->
                    <!-- <a href="http://www.nola.gov/city-planning/calendar/" target="_blank" class="btn">View Meeting at NOLA.gov</a><br/><br/> -->
                </div>
            </div>
            
                        <div class="item">
                <h3>3601 Camp St <span class="small">(Ref. Code: 7K6Z40)<br />
                <strong>CPC Hearing Results</strong></span></h3>
                <div class="meta">
                    <p><strong>Docket Number:</strong> <br />
                    <strong>Type:</strong> Conditional Use<br />
                    <strong>Status:</strong> Pending<br />
                    <strong>Comment:</strong> </p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                        Conditional Use to permit a parking lot providing off-street parking for a main use(s) located within 300 feet of said lot in an RD-2 Two-Family Residential District 
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7939" target="_blank">View Documents at OneStop</a></p>
                </div>
            </div>
            
                        <div class="item">
                <h3>129 University Pl (Orpheum Recovery Group, LLC ) <span class="small">(Ref. Code: PEBTNF)<br />
                <strong>CPC Hearing Results</strong></span></h3>
                <div class="meta">
                    <p><strong>Docket Number:</strong> <br />
                    <strong>Type:</strong> Conditional Use<br />
                    <strong>Status:</strong> Approved - Conditions<br />
                    <strong>Comment:</strong> </p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                         Resubdivision of Lots 4,5 &amp; 72, Sq. 267, 1st. M.D. bb Canal Roosevelt Way ( formerly University, Common &amp; S. Rampart Sts. into Lot V . 
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7940" target="_blank">View Documents at OneStop</a></p>
                </div>
            </div>
            
                        <div class="item">
                <h3>129 University Pl (Orpheum Recovery Group, LLC ) <span class="small">(Ref. Code: PEBTNF)<br />
                <strong>CPC Hearing Results</strong></span></h3>
                <div class="meta">
                    <p><strong>Docket Number:</strong> <br />
                    <strong>Type:</strong> Conditional Use<br />
                    <strong>Status:</strong> Pending<br />
                    <strong>Comment:</strong> </p>
                </div>
                <div class="detail" >
                    <h4>Description</h4>
                    <p>
                         Resubdivision of Lots 4,5 &amp; 72, Sq. 267, 1st. M.D. bb Canal Roosevelt Way ( formerly University, Common &amp; S. Rampart Sts. into Lot V . 
                    </p>                
                    <p><strong>Documents Available:</strong> <a href="http://onestopapp.nola.gov/Documents.aspx?ObjLabel=Project&ID=7940" target="_blank">View Documents at OneStop</a></p>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <p>This is some footer information.</p>
        </div>
    </body>
</html>